data/DFIC/*
!data/DFIC/README.md
data/TONO/
method/face_detection/__pycache__/
method/__pycache__/
method/runs/
method/models/*
!method/models/architecture/DeepLabV3_ICAO_SE_lite.py
dfic_venv/
inference_out.csv
